variable "local_url" {
  type    = string
  default = "postgres://postgres:postgres@127.0.0.1:5432/{{ .AppSlug }}?sslmode=disable"
}

variable "dev_url" {
  type    = string
  default = "postgres://{{ .AppSlug }}:QRD5jmc9nex3qxw-kez@192.168.100.2:5432/{{ .AppSlug }}_dev?sslmode=require"
}

variable "test_url" {
  type    = string
  default = "postgres://postgres:postgres@127.0.0.1:5432/{{ .AppSlug }}_test?sslmode=disable"
}

variable "prod_url" {
  type    = string
  default = "postgres://postgres:postgres@127.0.0.1:5432/{{ .AppSlug }}?sslmode=verify-full"
}

env "local" {
  url = var.local_url
  dev = "docker://postgres/16/dev?search_path=public"

  migration {
    dir = "file://db/migrations"
  }

  schema {
    src = "ent://internal/data/schema"
  }
}

env "dev" {
  url = var.dev_url
  dev = "docker://postgres/16/dev?search_path=public"

  migration {
    dir = "file://db/migrations"
  }

  schema {
    src = "ent://internal/data/schema"
  }
}

env "test" {
  url = var.test_url
  dev = "docker://postgres/16/dev?search_path=public"

  migration {
    dir = "file://db/migrations"
  }

  schema {
    src = "ent://internal/data/schema"
  }
}

env "prod" {
  url = var.prod_url

  migration {
    dir = "file://db/migrations"
  }

  schema {
    src = "ent://internal/data/schema"
  }
}
