app:
  name: {{ .AppName }}
  env: test
  port: 18080

http:
  read_timeout: 5s
  write_timeout: 10s

logger:
  level: debug
  format: json

jwt:
  issuer: initra
  secret: change-me-test
  access_token_ttl: 10m
  refresh_token_ttl: 24h

casbin:
  model_path: ./configs/rbac_model.conf
  policy_path: ./configs/rbac_policy.csv
