p, admin, auth, read
p, admin, user, read
p, admin, user, write
p, admin, user, delete
p, admin, file, read
p, admin, file, write
p, admin, file, delete
p, admin, httpdemo, read
p, viewer, auth, read
p, viewer, user, read
p, viewer, httpdemo, read
g, admin, admin
g, viewer, viewer
